html,body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(120deg,#0f1117,#1a1f2b);
}

.image{
    text-align: left;
    width: 150px;
    height: 50px;
    margin: 10px;
    padding-left: 15px;
    background: transparent;

}

.navbar{
    display: flex;
    border-radius: 50px;
    background: transparent;
    justify-content: space-between;
    margin-inline: auto;
    background: transparent;
    padding: 10px;
    margin: 10px;
}

.nav-ele{
    margin: 20px;
    color: white;
    font-size: 20px;
    font-family: 'Google Sans',sans-serif;
    text-decoration: none;
    background: transparent;
}

.nav-det{
    display: flex;
    justify-content: center;
    background: transparent;
}

.hero {
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 120px;
    color:white;
    letter-spacing: 8px;
    padding:0px;
    margin:0px;
}

.small-left{
    position: relative;
    left: -120px;   
    font-family: Arial, Helvetica, sans-serif;
    padding:0px;
    margin:0px;
    color:white;
    text-align: left;
    font-size: 20px;
}

.small-right{
    position: relative;
    right: -150px;
    font-family: Arial, Helvetica, sans-serif;
    padding:0px;
    margin:0px;
    color:white;
    text-align: right;
    font-size: 20px;
}

.socials{
    position: fixed;
    top: 82%;
    left: 40px;
    gap: 20px;
}

.socials img{
    height: 25x;
    margin: 10px;
    width: 25px;
}

.blogs{
    margin: 25px;
}

.blog-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.blog-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.blog-title {
    padding: 10px;
}

.blog-title>*{
    text-decoration: none;
    color: inherit;
}

.blog-desc{
    padding: 10px;
}

.contact{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    gap:100px;
    margin-top: 30px;
}

.contact-det{
    width: 600px;
    height: 600px;
    text-align: center;
    margin:10px;
    padding:10px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-form{
    width: 600px;
    height: 600px;
    text-align:center;
    margin:10px;
    padding:10px;
    color:white;
    border: 1px solid none;
    box-shadow: 10px  10px 25px hsl(220, 30%, 6%);
    font-family: Arial, Helvetica, sans-serif;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-form input, .contact-form textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid hsl(220, 15%, 40%);
    color: white;
    margin: 15px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-form button {
    background: hsl(220, 30%, 20%);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 15px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}